@charset "UTF-8";

@font-face {
  font-family: Verdana;
  font-display: swap;
  src: url("../fonts/Verdana-Bold.woff2") format("woff2"), url("../fonts/Verdana-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Verdana;
  font-display: swap;
  src: url("../fonts/Verdana.woff2") format("woff2"), url("../fonts/Verdana.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #4e4d4d;
  line-height: 1;
  font-family: "Verdana";
  font-size: 1.125rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Verdana";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

svg {
  height: 1em;
  width: 1em;
}

svg path {
  stroke: inherit;
  fill: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 75.625rem;
  margin: 0 auto;
  padding: 0 1.25rem;
}

.checkbox {
  position: relative;
}

.checkbox:not(:last-child) {
  margin-bottom: 0.3125em;
}

.checkbox__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
}

.checkbox__input:focus + .checkbox__label:before {
  -webkit-box-shadow: 0 0 5px #000;
          box-shadow: 0 0 5px #000;
}

.checkbox__input:checked + .checkbox__label:before {
  background: #ee1448;
}

.checkbox__label {
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  gap: 10px;
}

.checkbox__label:before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  width: 20px;
  height: 20px;
  border: 1px solid #a7a9ac;
  border-radius: 0.3125rem;
}

.checkbox__text {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 0.875rem;
}

.qs-datepicker-container {
  margin: 5px;
  font-size: 0.875rem;
  font-family: sans-serif;
  color: #000;
  position: absolute;
  width: 16.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  z-index: 9001;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
  background: #c5113b;
  -webkit-box-shadow: 0 1.25em 1.25em -0.9375em rgba(0, 0, 0, 0.3);
  box-shadow: 0 1.25em 1.25em -0.9375em rgba(0, 0, 0, 0.3);
  border-right: 1px solid #fff;
  border-left: 1px solid #f1ad70;
  padding: 5px;
}

.qs-datepicker-container:before,
.qs-datepicker-container:after {
  content: "";
  width: 100%;
  height: 2px;
  left: 0;
  z-index: 2;
  position: absolute;
  background-image: -webkit-gradient(linear, left top, right top, from(#f1ad70), to(#fffdf2));
  background-image: -o-linear-gradient(left, #f1ad70 0%, #fffdf2 100%);
  background-image: linear-gradient(to right, #f1ad70 0%, #fffdf2 100%);
}

.qs-datepicker-container:before {
  top: 0;
}

.qs-datepicker-container:after {
  bottom: 0;
}

.qs-datepicker-container * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.qs-datepicker-container.qs-centered {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.qs-datepicker-container.qs-hidden {
  display: none;
}

.qs-datepicker .qs-overlay {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.75);
  color: #fff;
  width: 100%;
  height: 100%;
  padding: 0.5em;
  z-index: 1;
  opacity: 1;
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.qs-datepicker .qs-overlay.qs-hidden {
  opacity: 0;
  z-index: -1;
}

.qs-datepicker .qs-overlay .qs-overlay-year {
  background: rgba(0, 0, 0, 0);
  border: none;
  border-bottom: 1px solid #fff;
  border-radius: 0;
  color: #fff;
  font-size: 0.875em;
  padding: 0.25em 0;
  width: 80%;
  text-align: center;
  margin: 0 auto;
  display: block;
}

.qs-datepicker .qs-overlay .qs-overlay-year::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.qs-datepicker .qs-overlay .qs-close {
  padding: 0.5em;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
}

.qs-datepicker .qs-overlay .qs-submit {
  border: 1px solid #fff;
  border-radius: 0.26392em;
  padding: 0.5em;
  margin: 0 auto auto;
  cursor: pointer;
  background: hsla(0deg, 0%, 50.2%, 0.4);
}

.qs-datepicker .qs-overlay .qs-submit.qs-disabled {
  color: grey;
  border-color: grey;
  cursor: not-allowed;
}

.qs-datepicker .qs-overlay .qs-overlay-month-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.qs-datepicker .qs-overlay .qs-overlay-month {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 33.33333%;
  cursor: pointer;
  opacity: 0.5;
  -webkit-transition: opacity 0.15s;
  -o-transition: opacity 0.15s;
  transition: opacity 0.15s;
}

.qs-datepicker .qs-overlay .qs-overlay-month.active,
.qs-datepicker .qs-overlay .qs-overlay-month:hover {
  opacity: 1;
}

.qs-datepicker .qs-controls {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  background: #c5113b;
  color: #fff;
  -webkit-filter: blur(0);
  filter: blur(0);
  -webkit-transition: -webkit-filter 0.3s;
  transition: -webkit-filter 0.3s;
  -o-transition: filter 0.3s;
  transition: filter 0.3s;
  transition: filter 0.3s, -webkit-filter 0.3s;
}

.qs-datepicker .qs-controls.qs-blur {
  -webkit-filter: blur(5px);
  filter: blur(5px);
}

.qs-datepicker .qs-arrow {
  height: 1.5625em;
  width: 1.5625em;
  position: relative;
  cursor: pointer;
  border-radius: 0.26392em;
  -webkit-transition: background 0.15s;
  -o-transition: background 0.15s;
  transition: background 0.15s;
}

.qs-datepicker .qs-arrow:hover {
  background: #fff;
}

.qs-datepicker .qs-arrow:hover.qs-left:after {
  border-right-color: #000;
}

.qs-datepicker .qs-arrow:hover.qs-right:after {
  border-left-color: #000;
}

.qs-datepicker .qs-arrow:after {
  content: "";
  border: 0.39062em solid rgba(0, 0, 0, 0);
  position: absolute;
  top: 50%;
  -webkit-transition: border 0.2s;
  -o-transition: border 0.2s;
  transition: border 0.2s;
}

.qs-datepicker .qs-arrow.qs-left:after {
  border-right-color: grey;
  right: 50%;
  -webkit-transform: translate(25%, -50%);
  -ms-transform: translate(25%, -50%);
  transform: translate(25%, -50%);
}

.qs-datepicker .qs-arrow.qs-right:after {
  border-left-color: grey;
  left: 50%;
  -webkit-transform: translate(-25%, -50%);
  -ms-transform: translate(-25%, -50%);
  transform: translate(-25%, -50%);
}

.qs-datepicker .qs-month-year {
  font-weight: 700;
  -webkit-transition: border 0.2s;
  -o-transition: border 0.2s;
  transition: border 0.2s;
  border-bottom: 1px solid rgba(0, 0, 0, 0);
  cursor: pointer;
}

.qs-datepicker .qs-month-year:hover {
  border-bottom: 1px solid grey;
}

.qs-datepicker .qs-month-year:active:focus,
.qs-datepicker .qs-month-year:focus {
  outline: none;
}

.qs-datepicker .qs-month {
  padding-right: 0.5ex;
}

.qs-datepicker .qs-year {
  padding-left: 0.5ex;
}

.qs-datepicker .qs-squares {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0.3125em;
  -webkit-filter: blur(0);
  filter: blur(0);
  -webkit-transition: -webkit-filter 0.3s;
  transition: -webkit-filter 0.3s;
  -o-transition: filter 0.3s;
  transition: filter 0.3s;
  transition: filter 0.3s, -webkit-filter 0.3s;
}

.qs-datepicker .qs-squares.qs-blur {
  -webkit-filter: blur(5px);
  filter: blur(5px);
}

.qs-datepicker .qs-square {
  width: 14.28571%;
  height: 1.5625em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
  -webkit-transition: background 0.1s;
  -o-transition: background 0.1s;
  transition: background 0.1s;
  border-radius: 0.26392em;
}

.qs-datepicker .qs-square.qs-current {
  font-weight: 700;
}

.qs-datepicker .qs-square.qs-current span {
  text-decoration: underline;
}

.qs-datepicker .qs-square.qs-active {
  background: #fff;
  color: #000;
}

.qs-datepicker .qs-square.qs-range-date-start:not(.qs-range-date-6) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.qs-datepicker .qs-square.qs-range-date-middle {
  background: #d4ebf2;
}

.qs-datepicker .qs-square.qs-range-date-middle:not(.qs-range-date-0):not(.qs-range-date-6) {
  border-radius: 0;
}

.qs-datepicker .qs-square.qs-range-date-middle.qs-range-date-0 {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.qs-datepicker .qs-square.qs-range-date-end:not(.qs-range-date-0),
.qs-datepicker .qs-square.qs-range-date-middle.qs-range-date-6 {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.qs-datepicker .qs-square.qs-disabled span {
  opacity: 0.2;
}

.qs-datepicker .qs-square.qs-empty {
  cursor: default;
}

.qs-datepicker .qs-square.qs-disabled {
  cursor: not-allowed;
}

.qs-datepicker .qs-square.qs-day {
  cursor: default;
  font-weight: 700;
  color: grey;
}

.qs-datepicker .qs-square:not(.qs-empty):not(.qs-disabled):not(.qs-day):not(.qs-active):hover {
  background: orange;
}

.qs-datepicker .qs-event {
  position: relative;
}

.qs-datepicker .qs-event:after {
  content: "";
  position: absolute;
  width: 0.46875em;
  height: 0.46875em;
  border-radius: 50%;
  background: #07f;
  bottom: 0;
  right: 0;
}

.qs-datepicker .qs-event.qs-disabled:after,
.qs-datepicker .qs-event.qs-empty:after {
  background: #cce4ff;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.btn {
  display: inline-block;
  text-align: center;
  background-color: #ee1448;
  border-radius: 10px;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.75;
  color: #ffffff;
  padding: 0.84375rem;
  -webkit-transition: background-color 0.3s ease 0s;
  -o-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}

.title {
  font-weight: 700;
  line-height: 1.0833333333;
}

.text {
  line-height: 1.6666666667;
}

.form {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40.7%;
          flex: 0 0 40.7%;
  border-radius: 1.25rem;
  background-color: #fff;
  padding: 2.5rem 1.875rem;
}

.form__card {
  display: none;
}

.form__card._active {
  display: block;
}

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.9375rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 0.8125rem;
}

.form__row--col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.form__row--col textarea {
  width: 100%;
}

.form__title {
  font-weight: 700;
  font-size: 1.75rem;
  line-height: 1.3928571429;
  margin-bottom: 1.0625rem;
}

.form__label {
  font-weight: 700;
  line-height: 1.5;
}

.form__input {
  width: 100%;
  border: 1px solid #ebebeb;
  border-radius: 0.625rem;
  min-height: 2.75rem;
  outline: none;
  padding: 0.625rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 69.5%;
          flex: 0 0 69.5%;
  font-size: 0.875rem;
  line-height: 1.5;
}

.form__checkboxes {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -webkit-column-gap: 0.625rem;
     -moz-column-gap: 0.625rem;
          column-gap: 0.625rem;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
}

.form__text {
  line-height: 1.2;
}

.form__text a {
  color: #ee1448;
}

.form__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.625rem;
}

.form__button {
  margin-top: 1.0625rem;
  width: 100%;
}

.header {
  position: absolute;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #fff;
  overflow: hidden;
}

.header::before {
  content: "";
  position: absolute;
  z-index: 2;
  right: -120%;
  top: 0;
  width: 100%;
  height: 6.25rem;
  background-color: #fff;
  -webkit-transition: right 0.3s ease 0s;
  -o-transition: right 0.3s ease 0s;
  transition: right 0.3s ease 0s;
}

.menu-open .header::before {
  right: 0;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.9375rem;
     -moz-column-gap: 0.9375rem;
          column-gap: 0.9375rem;
  min-height: 6.25rem;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
}

.header__logo {
  position: relative;
  z-index: 2;
}

.menu__link {
  font-size: 1.125rem;
  line-height: 1.6666666667;
  padding: 0.625rem;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.menu__link._active {
  color: #ee1448;
  font-weight: 700;
}

.icon-menu {
  display: none;
}

.footer {
  background-color: #F9F9F9;
  padding-top: 1.375rem;
  padding-bottom: 1.375rem;
}

.footer__copy {
  text-align: center;
  line-height: 1.1875;
}

.fullscreen {
  background-color: #eef2f9;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 31.1875rem;
}

.fullscreen .reasons__quote {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  gap: 1.3125rem;
  max-width: 24.5rem;
  margin-right: 6.25rem;
  margin-bottom: 0;
}

.fullscreen .reasons__quote .reasons__quote-image {
  border: 2px solid #ee1448;
  width: 7.125rem;
}

.fullscreen__image {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 41%;
  -o-object-fit: cover;
     object-fit: cover;
}

.fullscreen__container {
  width: 100%;
}

.fullscreen__body {
  padding-top: 6.25rem;
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.9375rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.fullscreen__title {
  font-weight: 700;
  line-height: 1.4545454545;
  max-width: 30rem;
}

.reasons__quote-image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 7.125rem;
          flex: 0 0 7.125rem;
  width: 7.125rem;
  height: 7.125rem;
  border-radius: 50%;
  background-color: #f9f9f9;
  border: 2px solid #ebebeb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reasons__quote-image img {
  width: 6.125rem;
  height: 6.125rem;
  border-radius: 50%;
}

.reasons__quote-text {
  font-weight: 700;
  line-height: 1.4722222222;
  max-width: 42.4375rem;
}

.reasons__title {
  text-align: center;
}

.reasons__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 1.5625rem;
}

.reasons__item {
  background-color: #f9f9f9;
  border: 1px solid #ebebeb;
  border-radius: 0.625rem;
  padding: 0.8125rem 0.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.3125rem;
}

.reasons__item span {
  font-weight: 700;
  margin-top: -0.375rem;
}

.reasons__text {
  max-width: 39rem;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 1.5rem;
}

.reasons__button {
  display: block;
  max-width: 18.125rem;
  width: 100%;
  margin: 0 auto;
}

.youtube {
  background-color: #eef2f9;
}

.youtube__title {
  text-align: center;
}

.youtube__text {
  max-width: 39rem;
  margin: 0 auto;
  text-align: center;
}

.youtube__video {
  max-width: 39rem;
  margin: 0 auto;
}

.youtube__video iframe {
  width: 100%;
  height: 100%;
  border-radius: 1.25rem;
  overflow: hidden;
}

.carousel__title {
  text-align: center;
}

.carousel__text {
  max-width: 39rem;
  margin: 0 auto;
  text-align: center;
}

.slide-carousel {
  background-color: #f9f9f9;
  border: 1px solid #ebebeb;
  border-radius: 0.625rem;
  overflow: hidden;
}

.slide-carousel__img {
  height: 10.625rem;
  overflow: hidden;
}

.slide-carousel__img img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.slide-carousel__title {
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 0.625rem;
}

.slide-carousel__text {
  line-height: 1.2;
}

.swiper-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.625rem;
}

.swiper-pagination-bullet {
  width: 0.625rem;
  height: 0.625rem;
  border-radius: 0.3125rem;
  background-color: #ee1448;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

.swiper-pagination-bullet-active {
  width: 1.25rem;
}

.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: 50%;
  width: 2.5rem;
  height: 2.5rem;
}

.swiper-button-prev svg,
.swiper-button-next svg {
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.swiper-button-prev svg path,
.swiper-button-next svg path {
  fill: #4e4d4d;
}

.swiper-button-prev {
  left: 0;
  -webkit-transform: translate(0px, -50%);
      -ms-transform: translate(0px, -50%);
          transform: translate(0px, -50%);
}

.swiper-button-next {
  right: 0;
  -webkit-transform: translate(0px, -50%) rotate(180deg);
      -ms-transform: translate(0px, -50%) rotate(180deg);
          transform: translate(0px, -50%) rotate(180deg);
}

.contact {
  padding-top: 1.875rem;
}

.no-webp .contact__map{
  background: url("../img/map.jpg") center/cover no-repeat; }

.contact__map {
  display: block;
  width: 100%;
  border-radius: 1.25rem;
  overflow: hidden;
  margin-bottom: 0.5625rem;
}

.contact__links {
  text-align: right;
}

.contact__links a {
  line-height: 1.25;
}

.contact__links a:not(:last-child) {
  margin-right: 1.375rem;
}

.contact__item {
  line-height: 1.6666666667;
  padding-bottom: 0.8125rem;
}

.contact__item:not(:last-child) {
  border-bottom: 2px solid #d9d9d9;
  margin-bottom: 0.5625rem;
}

.contact__item span {
  display: block;
  color: #ee1448;
  font-weight: 700;
}

.bar__row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
}

.bar__item {
  text-align: center;
}

.bar__img {
  height: 3.5rem;
}

.bar__text {
  font-size: 0.8125rem;
  line-height: 1.0769230769;
  color: #868686;
}

.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

@media (min-width: 47.99875em) {
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .fullscreen {
    min-height: 46.875rem;
  }

  .fullscreen__image {
    opacity: 0.5;
  }

  .fullscreen__button {
    display: none;
  }

  .reasons__quote {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 2.9375rem;
  }

  .carousel__body {
    padding: 0 3.75rem;
    position: relative;
  }

  .contact__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .contact__left {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 68.4%;
            flex: 0 0 68.4%;
  }

  .bar {
    display: none;
  }
}

@media (min-width: 47.99875em) and (min-width: 75.625em) {
  .reasons {
    padding-top: 4.9375rem;
  }

  .contact__container {
    gap: 4.125rem;
  }
}

@media (min-width: 75.625em) {
  .title {
    font-size: 2.25rem;
  }

  .text {
    font-size: 1.125rem;
  }

  .form__label {
    font-size: 1rem;
  }

  .form__text {
    font-size: 0.75rem;
  }

  .footer__copy {
    font-size: 1rem;
  }

  .fullscreen__title {
    font-size: 2.75rem;
  }

  .reasons {
    padding-bottom: 6.6875rem;
  }

  .reasons__quote {
    margin-bottom: 4.75rem;
  }

  .reasons__quote-text {
    font-size: 2.25rem;
  }

  .reasons__title {
    margin-bottom: 1.6875rem;
  }

  .reasons__list {
    gap: 1.8125rem;
  }

  .reasons__item span {
    font-size: 1.5rem;
  }

  .reasons__item span {
    margin-top: -0.375rem;
  }

  .youtube {
    padding-top: 6.25rem;
  }

  .youtube {
    padding-bottom: 6.25rem;
  }

  .youtube__title {
    margin-bottom: 1.875rem;
  }

  .youtube__text {
    margin-bottom: 1.875rem;
  }

  .youtube__video {
    height: 25rem;
  }

  .carousel {
    padding-top: 6.25rem;
  }

  .carousel {
    padding-bottom: 6.25rem;
  }

  .carousel__title {
    margin-bottom: 1.875rem;
  }

  .carousel__text {
    margin-bottom: 1.875rem;
  }

  .slide-carousel__content {
    padding: 0.9375rem;
  }

  .slide-carousel__title {
    font-size: 1.125rem;
  }

  .slide-carousel__text {
    font-size: 1rem;
  }

  .swiper-pagination {
    margin-top: 1.875rem;
  }

  .contact {
    margin-bottom: 4rem;
  }

  .contact__map {
    height: 27.875rem;
  }

  .contact__links a {
    font-size: 0.75rem;
  }

  .contact__title {
    margin-bottom: 1.8125rem;
  }

  .contact__item {
    font-size: 1.5rem;
  }
}

@media (max-width: 20em) {
  .title {
    font-size: 1.75rem;
  }

  .text {
    font-size: 0.875rem;
  }

  .form__label {
    font-size: 0.875rem;
  }

  .form__text {
    font-size: 0.625rem;
  }

  .footer__copy {
    font-size: 0.75rem;
  }

  .fullscreen__title {
    font-size: 1.875rem;
  }

  .reasons {
    padding-bottom: 1.875rem;
  }

  .reasons__quote {
    margin-bottom: 1.875rem;
  }

  .reasons__quote-text {
    font-size: 1.25rem;
  }

  .reasons__title {
    margin-bottom: 0.5rem;
  }

  .reasons__list {
    gap: 0.8125rem;
  }

  .reasons__item span {
    font-size: 0.875rem;
  }

  .reasons__item span {
    margin-top: 0.0000000625rem;
  }

  .youtube {
    padding-top: 1.875rem;
  }

  .youtube {
    padding-bottom: 1.875rem;
  }

  .youtube__title {
    margin-bottom: 0.625rem;
  }

  .youtube__text {
    margin-bottom: 0.625rem;
  }

  .youtube__video {
    height: 16.875rem;
  }

  .carousel {
    padding-top: 1.875rem;
  }

  .carousel {
    padding-bottom: 1.875rem;
  }

  .carousel__title {
    margin-bottom: 0.625rem;
  }

  .carousel__text {
    margin-bottom: 0.625rem;
  }

  .slide-carousel__content {
    padding: 0.625rem;
  }

  .slide-carousel__title {
    font-size: 1rem;
  }

  .slide-carousel__text {
    font-size: 0.875rem;
  }

  .swiper-pagination {
    margin-top: 0.9375rem;
  }

  .contact {
    margin-bottom: 1.875rem;
  }

  .contact__map {
    height: 9.375rem;
  }

  .contact__links a {
    font-size: 0.5625rem;
  }

  .contact__title {
    margin-bottom: 0.375rem;
  }

  .contact__item {
    font-size: 0.875rem;
  }
}

@media (max-width: 68.75em) {
  .form {
    padding: 1.5rem 1.25rem;
  }

  .form__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    gap: 0.125rem;
  }
}

@media (max-width: 61.99875em) {
  .contact__title {
    padding-left: 1.25rem;
  }
}

@media (max-width: 47.99875em) {
  .form {
    position: fixed;
    left: 0;
    top: 6.25rem;
    bottom: 6.125rem;
    width: 100%;
    background-color: #eef2f9;
    border-radius: 30px 30px 0px 0px;
    -webkit-transform: translate(0px, 100%);
        -ms-transform: translate(0px, 100%);
            transform: translate(0px, 100%);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    overflow: auto;
  }

  .form._active {
    -webkit-transform: translate(0px, 0px);
        -ms-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
    opacity: 1;
    visibility: visible;
  }

  .header {
    background-color: rgba(255, 255, 255, 0.4);
  }

  .header__container {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
    padding-bottom: 1.625rem;
  }

  .menu__body {
    position: fixed;
    right: -120%;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    -webkit-transition: right 0.3s ease 0s;
    -o-transition: right 0.3s ease 0s;
    transition: right 0.3s ease 0s;
    overflow: auto;
  }

  .menu-open .menu__body {
    right: 0;
  }

  .menu__list {
    padding-top: 6.25rem;
    padding-bottom: 6.25rem;
    text-align: right;
  }

  .menu__link {
    display: block;
    padding: 0.3125rem 1.25rem;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.4375rem;
    height: 0.75rem;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #ee1448;
  }

  .icon-menu::before {
    top: 0;
    width: 0.8125rem;
  }

  .icon-menu::after {
    bottom: 0;
    width: 1.1875rem;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    width: 100%;
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    width: 100%;
  }

  .footer {
    margin-bottom: 6.125rem;
  }

  .fullscreen {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
    padding-bottom: 2.8125rem;
    position: relative;
  }

  .fullscreen::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
  }

  .fullscreen__image {
    width: 100%;
  }

  .fullscreen__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 1.1875rem;
  }

  .fullscreen__title {
    color: #fff;
  }

  .fullscreen__button {
    background-color: #ee1448;
    -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    border-radius: 0.625rem;
    color: #fff;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.75;
    padding: 0.3125rem 1.125rem;
  }

  .reasons {
    padding-top: 5.125rem;
  }

  .reasons__quote {
    position: relative;
    background: #f9f9f9;
    border: 2px solid #ebebeb;
    border-radius: 1.25rem;
    padding: 4.125rem 0.8125rem 1.875rem;
    text-align: center;
  }

  .reasons__quote-image {
    position: absolute;
    left: 50%;
    top: 0;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }

  .reasons__quote-text {
    font-weight: 400;
  }

  .reasons__list {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
  }

  .swiper-button-prev,
  .swiper-button-next {
    display: none;
  }

  .contact {
    background-color: #f9f9f9;
    border-radius: 1.25rem;
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
    margin-right: 1.25rem;
    margin-left: 1.25rem;
  }

  .contact__content {
    margin-top: 1.25rem;
  }

  .bar {
    position: fixed;
    z-index: 100;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 6.125rem;
    border-top: 1px solid #ebebeb;
    padding-top: 0.375rem;
    background-color: #fff;
  }
}

@media (max-width: 47.99875em) and (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}

@media (max-width: 29.99875em) {
  .contact__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 20em) and (max-width: 75.625em) {
@supports (font-size: clamp( 1.75rem , 1.5702247191rem  +  0.8988764045vw , 2.25rem )) {
    .title {
      font-size: clamp( 1.75rem , 1.5702247191rem  +  0.8988764045vw , 2.25rem );
    }
}

@supports not (font-size: clamp( 1.75rem , 1.5702247191rem  +  0.8988764045vw , 2.25rem )) {
    .title {
      font-size: calc(1.75rem + 0.5 * (100vw - 20rem) / 55.625);
    }
}

@supports (font-size: clamp( 0.875rem , 0.7851123596rem  +  0.4494382022vw , 1.125rem )) {
    .text {
      font-size: clamp( 0.875rem , 0.7851123596rem  +  0.4494382022vw , 1.125rem );
    }
}

@supports not (font-size: clamp( 0.875rem , 0.7851123596rem  +  0.4494382022vw , 1.125rem )) {
    .text {
      font-size: calc(0.875rem + 0.25 * (100vw - 20rem) / 55.625);
    }
}

@supports (font-size: clamp( 0.875rem , 0.8300561798rem  +  0.2247191011vw , 1rem )) {
    .form__label {
      font-size: clamp( 0.875rem , 0.8300561798rem  +  0.2247191011vw , 1rem );
    }
}

@supports not (font-size: clamp( 0.875rem , 0.8300561798rem  +  0.2247191011vw , 1rem )) {
    .form__label {
      font-size: calc(0.875rem + 0.125 * (100vw - 20rem) / 55.625);
    }
}

@supports (font-size: clamp( 0.625rem , 0.5800561798rem  +  0.2247191011vw , 0.75rem )) {
    .form__text {
      font-size: clamp( 0.625rem , 0.5800561798rem  +  0.2247191011vw , 0.75rem );
    }
}

@supports not (font-size: clamp( 0.625rem , 0.5800561798rem  +  0.2247191011vw , 0.75rem )) {
    .form__text {
      font-size: calc(0.625rem + 0.125 * (100vw - 20rem) / 55.625);
    }
}

@supports (font-size: clamp( 0.75rem , 0.6601123596rem  +  0.4494382022vw , 1rem )) {
    .footer__copy {
      font-size: clamp( 0.75rem , 0.6601123596rem  +  0.4494382022vw , 1rem );
    }
}

@supports not (font-size: clamp( 0.75rem , 0.6601123596rem  +  0.4494382022vw , 1rem )) {
    .footer__copy {
      font-size: calc(0.75rem + 0.25 * (100vw - 20rem) / 55.625);
    }
}

@supports (font-size: clamp( 1.875rem , 1.5603932584rem  +  1.5730337079vw , 2.75rem )) {
    .fullscreen__title {
      font-size: clamp( 1.875rem , 1.5603932584rem  +  1.5730337079vw , 2.75rem );
    }
}

@supports not (font-size: clamp( 1.875rem , 1.5603932584rem  +  1.5730337079vw , 2.75rem )) {
    .fullscreen__title {
      font-size: calc(1.875rem + 0.875 * (100vw - 20rem) / 55.625);
    }
}

@supports (padding-bottom: clamp( 1.875rem , 0.1446629213rem  +  8.6516853933vw , 6.6875rem )) {
    .reasons {
      padding-bottom: clamp( 1.875rem , 0.1446629213rem  +  8.6516853933vw , 6.6875rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , 0.1446629213rem  +  8.6516853933vw , 6.6875rem )) {
    .reasons {
      padding-bottom: calc(1.875rem + 4.8125 * (100vw - 20rem) / 55.625);
    }
}

@supports (margin-bottom: clamp( 1.875rem , 0.8412921348rem  +  5.1685393258vw , 4.75rem )) {
    .reasons__quote {
      margin-bottom: clamp( 1.875rem , 0.8412921348rem  +  5.1685393258vw , 4.75rem );
    }
}

@supports not (margin-bottom: clamp( 1.875rem , 0.8412921348rem  +  5.1685393258vw , 4.75rem )) {
    .reasons__quote {
      margin-bottom: calc(1.875rem + 2.875 * (100vw - 20rem) / 55.625);
    }
}

@supports (font-size: clamp( 1.25rem , 0.8904494382rem  +  1.797752809vw , 2.25rem )) {
    .reasons__quote-text {
      font-size: clamp( 1.25rem , 0.8904494382rem  +  1.797752809vw , 2.25rem );
    }
}

@supports not (font-size: clamp( 1.25rem , 0.8904494382rem  +  1.797752809vw , 2.25rem )) {
    .reasons__quote-text {
      font-size: calc(1.25rem + 1 * (100vw - 20rem) / 55.625);
    }
}

@supports (margin-bottom: clamp( 0.5rem , 0.0730337079rem  +  2.1348314607vw , 1.6875rem )) {
    .reasons__title {
      margin-bottom: clamp( 0.5rem , 0.0730337079rem  +  2.1348314607vw , 1.6875rem );
    }
}

@supports not (margin-bottom: clamp( 0.5rem , 0.0730337079rem  +  2.1348314607vw , 1.6875rem )) {
    .reasons__title {
      margin-bottom: calc(0.5rem + 1.1875 * (100vw - 20rem) / 55.625);
    }
}

@supports (gap: clamp( 0.8125rem , 0.4529494382rem  +  1.797752809vw , 1.8125rem )) {
    .reasons__list {
      gap: clamp( 0.8125rem , 0.4529494382rem  +  1.797752809vw , 1.8125rem );
    }
}

@supports not (gap: clamp( 0.8125rem , 0.4529494382rem  +  1.797752809vw , 1.8125rem )) {
    .reasons__list {
      gap: calc(0.8125rem + 1 * (100vw - 20rem) / 55.625);
    }
}

@supports (font-size: clamp( 0.875rem , 0.6502808989rem  +  1.1235955056vw , 1.5rem )) {
    .reasons__item span {
      font-size: clamp( 0.875rem , 0.6502808989rem  +  1.1235955056vw , 1.5rem );
    }
}

@supports not (font-size: clamp( 0.875rem , 0.6502808989rem  +  1.1235955056vw , 1.5rem )) {
    .reasons__item span {
      font-size: calc(0.875rem + 0.625 * (100vw - 20rem) / 55.625);
    }
}

@supports (margin-top: clamp( -0.375rem , 0.1348315456rem  +  -0.6741574157vw , 0.0000000625rem )) {
    .reasons__item span {
      margin-top: clamp( -0.375rem , 0.1348315456rem  +  -0.6741574157vw , 0.0000000625rem );
    }
}

@supports not (margin-top: clamp( -0.375rem , 0.1348315456rem  +  -0.6741574157vw , 0.0000000625rem )) {
    .reasons__item span {
      margin-top: calc(0.0000000625rem + -0.3750000625 * (100vw - 20rem) / 55.625);
    }
}

@supports (padding-top: clamp( 1.875rem , 0.3019662921rem  +  7.8651685393vw , 6.25rem )) {
    .youtube {
      padding-top: clamp( 1.875rem , 0.3019662921rem  +  7.8651685393vw , 6.25rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , 0.3019662921rem  +  7.8651685393vw , 6.25rem )) {
    .youtube {
      padding-top: calc(1.875rem + 4.375 * (100vw - 20rem) / 55.625);
    }
}

@supports (padding-bottom: clamp( 1.875rem , 0.3019662921rem  +  7.8651685393vw , 6.25rem )) {
    .youtube {
      padding-bottom: clamp( 1.875rem , 0.3019662921rem  +  7.8651685393vw , 6.25rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , 0.3019662921rem  +  7.8651685393vw , 6.25rem )) {
    .youtube {
      padding-bottom: calc(1.875rem + 4.375 * (100vw - 20rem) / 55.625);
    }
}

@supports (margin-bottom: clamp( 0.625rem , 0.1755617978rem  +  2.2471910112vw , 1.875rem )) {
    .youtube__title {
      margin-bottom: clamp( 0.625rem , 0.1755617978rem  +  2.2471910112vw , 1.875rem );
    }
}

@supports not (margin-bottom: clamp( 0.625rem , 0.1755617978rem  +  2.2471910112vw , 1.875rem )) {
    .youtube__title {
      margin-bottom: calc(0.625rem + 1.25 * (100vw - 20rem) / 55.625);
    }
}

@supports (margin-bottom: clamp( 0.625rem , 0.1755617978rem  +  2.2471910112vw , 1.875rem )) {
    .youtube__text {
      margin-bottom: clamp( 0.625rem , 0.1755617978rem  +  2.2471910112vw , 1.875rem );
    }
}

@supports not (margin-bottom: clamp( 0.625rem , 0.1755617978rem  +  2.2471910112vw , 1.875rem )) {
    .youtube__text {
      margin-bottom: calc(0.625rem + 1.25 * (100vw - 20rem) / 55.625);
    }
}

@supports (height: clamp( 16.875rem , 13.9536516854rem  +  14.606741573vw , 25rem )) {
    .youtube__video {
      height: clamp( 16.875rem , 13.9536516854rem  +  14.606741573vw , 25rem );
    }
}

@supports not (height: clamp( 16.875rem , 13.9536516854rem  +  14.606741573vw , 25rem )) {
    .youtube__video {
      height: calc(16.875rem + 8.125 * (100vw - 20rem) / 55.625);
    }
}

@supports (padding-top: clamp( 1.875rem , 0.3019662921rem  +  7.8651685393vw , 6.25rem )) {
    .carousel {
      padding-top: clamp( 1.875rem , 0.3019662921rem  +  7.8651685393vw , 6.25rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , 0.3019662921rem  +  7.8651685393vw , 6.25rem )) {
    .carousel {
      padding-top: calc(1.875rem + 4.375 * (100vw - 20rem) / 55.625);
    }
}

@supports (padding-bottom: clamp( 1.875rem , 0.3019662921rem  +  7.8651685393vw , 6.25rem )) {
    .carousel {
      padding-bottom: clamp( 1.875rem , 0.3019662921rem  +  7.8651685393vw , 6.25rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , 0.3019662921rem  +  7.8651685393vw , 6.25rem )) {
    .carousel {
      padding-bottom: calc(1.875rem + 4.375 * (100vw - 20rem) / 55.625);
    }
}

@supports (margin-bottom: clamp( 0.625rem , 0.1755617978rem  +  2.2471910112vw , 1.875rem )) {
    .carousel__title {
      margin-bottom: clamp( 0.625rem , 0.1755617978rem  +  2.2471910112vw , 1.875rem );
    }
}

@supports not (margin-bottom: clamp( 0.625rem , 0.1755617978rem  +  2.2471910112vw , 1.875rem )) {
    .carousel__title {
      margin-bottom: calc(0.625rem + 1.25 * (100vw - 20rem) / 55.625);
    }
}

@supports (margin-bottom: clamp( 0.625rem , 0.1755617978rem  +  2.2471910112vw , 1.875rem )) {
    .carousel__text {
      margin-bottom: clamp( 0.625rem , 0.1755617978rem  +  2.2471910112vw , 1.875rem );
    }
}

@supports not (margin-bottom: clamp( 0.625rem , 0.1755617978rem  +  2.2471910112vw , 1.875rem )) {
    .carousel__text {
      margin-bottom: calc(0.625rem + 1.25 * (100vw - 20rem) / 55.625);
    }
}

@supports (padding: clamp( 0.625rem , 0.5126404494rem  +  0.5617977528vw , 0.9375rem )) {
    .slide-carousel__content {
      padding: clamp( 0.625rem , 0.5126404494rem  +  0.5617977528vw , 0.9375rem );
    }
}

@supports not (padding: clamp( 0.625rem , 0.5126404494rem  +  0.5617977528vw , 0.9375rem )) {
    .slide-carousel__content {
      padding: calc(0.625rem + 0.3125 * (100vw - 20rem) / 55.625);
    }
}

@supports (font-size: clamp( 1rem , 0.9550561798rem  +  0.2247191011vw , 1.125rem )) {
    .slide-carousel__title {
      font-size: clamp( 1rem , 0.9550561798rem  +  0.2247191011vw , 1.125rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.9550561798rem  +  0.2247191011vw , 1.125rem )) {
    .slide-carousel__title {
      font-size: calc(1rem + 0.125 * (100vw - 20rem) / 55.625);
    }
}

@supports (font-size: clamp( 0.875rem , 0.8300561798rem  +  0.2247191011vw , 1rem )) {
    .slide-carousel__text {
      font-size: clamp( 0.875rem , 0.8300561798rem  +  0.2247191011vw , 1rem );
    }
}

@supports not (font-size: clamp( 0.875rem , 0.8300561798rem  +  0.2247191011vw , 1rem )) {
    .slide-carousel__text {
      font-size: calc(0.875rem + 0.125 * (100vw - 20rem) / 55.625);
    }
}

@supports (margin-top: clamp( 0.9375rem , 0.6004213483rem  +  1.6853932584vw , 1.875rem )) {
    .swiper-pagination {
      margin-top: clamp( 0.9375rem , 0.6004213483rem  +  1.6853932584vw , 1.875rem );
    }
}

@supports not (margin-top: clamp( 0.9375rem , 0.6004213483rem  +  1.6853932584vw , 1.875rem )) {
    .swiper-pagination {
      margin-top: calc(0.9375rem + 0.9375 * (100vw - 20rem) / 55.625);
    }
}

@supports (margin-bottom: clamp( 1.875rem , 1.1109550562rem  +  3.8202247191vw , 4rem )) {
    .contact {
      margin-bottom: clamp( 1.875rem , 1.1109550562rem  +  3.8202247191vw , 4rem );
    }
}

@supports not (margin-bottom: clamp( 1.875rem , 1.1109550562rem  +  3.8202247191vw , 4rem )) {
    .contact {
      margin-bottom: calc(1.875rem + 2.125 * (100vw - 20rem) / 55.625);
    }
}

@supports (height: clamp( 9.375rem , 2.7233146067rem  +  33.2584269663vw , 27.875rem )) {
    .contact__map {
      height: clamp( 9.375rem , 2.7233146067rem  +  33.2584269663vw , 27.875rem );
    }
}

@supports not (height: clamp( 9.375rem , 2.7233146067rem  +  33.2584269663vw , 27.875rem )) {
    .contact__map {
      height: calc(9.375rem + 18.5 * (100vw - 20rem) / 55.625);
    }
}

@supports (font-size: clamp( 0.5625rem , 0.4950842697rem  +  0.3370786517vw , 0.75rem )) {
    .contact__links a {
      font-size: clamp( 0.5625rem , 0.4950842697rem  +  0.3370786517vw , 0.75rem );
    }
}

@supports not (font-size: clamp( 0.5625rem , 0.4950842697rem  +  0.3370786517vw , 0.75rem )) {
    .contact__links a {
      font-size: calc(0.5625rem + 0.1875 * (100vw - 20rem) / 55.625);
    }
}

@supports (margin-bottom: clamp( 0.375rem , -0.1418539326rem  +  2.5842696629vw , 1.8125rem )) {
    .contact__title {
      margin-bottom: clamp( 0.375rem , -0.1418539326rem  +  2.5842696629vw , 1.8125rem );
    }
}

@supports not (margin-bottom: clamp( 0.375rem , -0.1418539326rem  +  2.5842696629vw , 1.8125rem )) {
    .contact__title {
      margin-bottom: calc(0.375rem + 1.4375 * (100vw - 20rem) / 55.625);
    }
}

@supports (font-size: clamp( 0.875rem , 0.6502808989rem  +  1.1235955056vw , 1.5rem )) {
    .contact__item {
      font-size: clamp( 0.875rem , 0.6502808989rem  +  1.1235955056vw , 1.5rem );
    }
}

@supports not (font-size: clamp( 0.875rem , 0.6502808989rem  +  1.1235955056vw , 1.5rem )) {
    .contact__item {
      font-size: calc(0.875rem + 0.625 * (100vw - 20rem) / 55.625);
    }
}
}

@media (min-width: 47.99875em) and (min-width: 20em) and (max-width: 75.625em) {
@supports (padding-top: clamp( 1.875rem , 0.7738764045rem  +  5.5056179775vw , 4.9375rem )) {
    .reasons {
      padding-top: clamp( 1.875rem , 0.7738764045rem  +  5.5056179775vw , 4.9375rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , 0.7738764045rem  +  5.5056179775vw , 4.9375rem )) {
    .reasons {
      padding-top: calc(1.875rem + 3.0625 * (100vw - 20rem) / 55.625);
    }
}

@supports (gap: clamp( 1.1875rem , 0.1313202247rem  +  5.2808988764vw , 4.125rem )) {
    .contact__container {
      gap: clamp( 1.1875rem , 0.1313202247rem  +  5.2808988764vw , 4.125rem );
    }
}

@supports not (gap: clamp( 1.1875rem , 0.1313202247rem  +  5.2808988764vw , 4.125rem )) {
    .contact__container {
      gap: calc(1.1875rem + 2.9375 * (100vw - 20rem) / 55.625);
    }
}
}

@media (min-width: 47.99875em) and (max-width: 20em) {
  .reasons {
    padding-top: 1.875rem;
  }

  .contact__container {
    gap: 1.1875rem;
  }
}

@media (any-hover: hover) {
  .btn:hover {
    background-color: #c5113b;
  }

  .form__text a:hover {
    text-decoration: underline;
  }

  .menu__link:hover {
    color: #ee1448;
  }

  .slide-carousel:hover img {
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
  }

  .swiper-button-prev:hover svg path,
  .swiper-button-next:hover svg path {
    fill: #ee1448;
  }

  .contact a:hover {
    text-decoration: underline;
  }
}

.webp .contact__map{ background: url(../img/map.webp) center/cover no-repeat; }